* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#lezioni img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni,
#steps,
#why {
  text-align: center;
  padding: 10px 0;
}

#steps,
#why {
  margin-top: 20px;
}

#lezioni,
#why {
  background-color: #F2F2CD;
}

#why h1 {
  text-align: center;
}

img {
 width: 50%;
 height: auto;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
  width: 30%;
  height: 200px;
}

[class*=col_]  {
  padding-top: 15px;
}

[class^=col_] > hr {
  margin: 10px 0;
}

@media all and (min-width: 768px) {

}

@media all and (min-width: 992px) {
  #lezioni {
    background-color: #FFFFFF;
  }

  #steps,
  #why {
    background-color: #F9F9F9;
  }



}
